*{
    
    margin: 0;
    padding: 0;
    
    
}
h1{
    background-color: aquamarine;
    border-radius: 30px;
}
section{
    m
 
}
body{
    background-color:rgb(190, 165, 165);
    border-radius: 30px;
    margin-left: 5%;
    width: 55%;

}